body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #523a2b 50%, #256082 50%);
}

<<<<<<< HEAD

    
=======
.menu{
    
}
>>>>>>> 0a4ad80b3ee1cc8aa2217bfc13ab5f8e0dce264d
