
.crear{
    color: deepskyblue;
    text-decoration: underline;
}

.row{
    display: flex;
    flex-direction: row;
}

.explicacion{
    display: flex;
    justify-content: center;
    align-items: center;
}