

.high{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.derecha{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 50px;
    align-items: flex-end;
}

#informacion{
    height: 30px;
    width: 30px;
}

.containerGnomo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gnomo{
    height: 400px;
    width: 300px;
}

#shop{
    position: relative;
    bottom: 400px;
    right: 50px;
    background-color: lightgray;
    height: 50px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

#upgrade1{
    position: absolute;
    bottom: 310px;
    right: 78px;
    background-color: lightgray;
    height: 50px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
#upgradeP1{
    position: absolute;
    bottom: 250px;
    right: 78px;
    background-color: lightgray;
    height: 50px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}



#modos{
    position: relative;
    bottom: 275px;
    right: 50px;
    background-color: lightgray;
    height: 50px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

#time{
    background-color: lightgray;
    height: 50px;
    width: 180px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

#currency{
    background-color: lightgray;
    height: 50px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

#vent{
    background-color: lightgray;
    position: relative;
    left: 50px;
    top: 200px;
}

.vent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 200px;
    width: 75px;
}


