body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.celd {
    margin: 2px;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}
.column {
    display: flex;
    flex-direction: column;
}
main {
    width: 150px;
    height: 150px;
    background-color: grey;
    border: solid 5px white;
}

.body:hover {
    height: 90vw;
    width: 90vw;
}