header{
    display: flex;
    background-color: black;
    justify-content: flex-start;
    color: white;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: solid black 3px;
    gap: 50px;
    flex-direction: column;
    
}

.welcome{
    font-weight: bold;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciar-sesion{
    font-weight: bold;
    font-size: x-large;
}

#ingresar{
    background-color: lightblue;
    border:  solid lightskyblue 2px;
    border-radius: 25px;
    width: 250px;
}

.segunda{
    display: flex;
    justify-content: center;
    align-items: center;
}


